<app-toolbar></app-toolbar>
<mat-card class="container col-11 my-4">
  <mat-card-title> {{ title }} </mat-card-title>
  <!-- Row Start -->
  <div class="d-flex justify-content-between">
    <!-- Barra de busqueda -->
    <div>
      <mat-form-field>
        <mat-label> Buscar </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por {{ displayedColumns }}">
        <mat-icon matSuffix> search </mat-icon>
      </mat-form-field>
    </div>
    <!-- Boton añadir -->
    <div>
      <button mat-raised-button color="primary" (click)="onSubmit({})">
        <mat-icon [inline]="true" class="mr-2"> add </mat-icon>
        Añadir
      </button>
    </div>
  </div>
  <!-- Row end -->
  <mat-card-content>
    <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z2">

      <!-- Titulo column -->
      <ng-container matColumnDef="titulo">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Titulo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.titulo }} </mat-cell>
      </ng-container>

      <!-- Publicada column -->
      <ng-container matColumnDef="publicada">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Publicada </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.publicada.toString() === 'y' ? "Si" : "No" }} </mat-cell>
      </ng-container>

      <!-- Fecha de publicación column -->
      <ng-container matColumnDef="fechaPublicacion">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Fecha de publicación </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.fechaPublicacion.toMillis() | date:'shortDate' }} </mat-cell>
      </ng-container>

      <!-- Empresa column -->
      <ng-container matColumnDef="idEmpresa">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Empresa </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.idEmpresa }} </mat-cell>
      </ng-container>

      <!-- Action column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <!-- Edit Button -->
          <button mat-button mat-icon-button matTooltip="Editar" (click)="onSubmit(row)">
            <mat-icon color="primary"> mode_edit </mat-icon>
          </button>
          <!-- Delete Button -->
          <button mat-button mat-icon-button matTooltip="Eliminar" (click)="onDelete(row)">
            <mat-icon color="warn"> delete </mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns.concat('actions')"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns.concat('actions')"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>

</mat-card>
