<div mat-dialog-title>
    <span class="dialog-title">{{action}}</span>
</div>
<div mat-dialog-content>
    <form [formGroup]="formEmpresa" novalidate>
        <input hidden formControlName="id">

        <mat-form-field class="form-element">
            <input matInput placeholder="{{action}} Denominacion" formControlName="denominacion">
            <mat-error *ngIf="errorHandling('denominacion', 'required')">
                Debe proporcionar una<strong> denominacion.</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="{{action}} Domicilio" formControlName="domicilio">
            <mat-error *ngIf="errorHandling('domicilio', 'required')">
                Debe proporcionar un<strong> domicilio.</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput type="email" placeholder="{{action}} Email" formControlName="email">
            <mat-error *ngIf="errorHandling('email', 'required')">
                Debe proporcionar un<strong> E-mail.</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="{{action}} Horario" formControlName="horario">
            <mat-error *ngIf="errorHandling('horario', 'required')">
                Debe proporcionar un<strong> horario.</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="{{action}} Latitud" formControlName="latitud">
            <mat-error *ngIf="errorHandling('latitud', 'required')">
                Debe proporcionar una<strong> latitud.</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="{{action}} Longitud" formControlName="longitud">
            <mat-error *ngIf="errorHandling('longitud', 'required')">
                Debe proporcionar una<strong> longitud.</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <textarea matInput placeholder="{{action}} Quienes Somos" formControlName="quienesSomos"> </textarea>
            <mat-error *ngIf="errorHandling('quienesSomos', 'required')">
                Debe proporcionar un<strong> quienes somos.</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="{{action}} Telefono" formControlName="telefono">
            <mat-error *ngIf="errorHandling('telefono', 'required')">
                Debe proporcionar un<strong> telefono.</strong>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onAction()">{{action}}</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
    </form>
</div>
