<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon class="icon" aria-hidden="false" aria-label="empresa icon">cloud</mat-icon>
        <span> Admin ABM</span>

        <div class="ml-auto">
            <button mat-button routerLink="/admin/noticias" class="float-right"> Noticias
          </button>
            <button mat-button routerLink="/admin/empresas" class="float-right"> Empresas
          </button>
            <button mat-button routerLink="/index" class="float-right"> Inicio
          </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
