<div mat-dialog-title class="d-flex justify-content-between">
  <span class="dialog-title"> {{action}} noticia </span>
  <button mat-button mat-icon-button [mat-dialog-close]="true">
    <mat-icon> close </mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form [formGroup]="formNoticia" novalidate>
    <input hidden formControlName="id">

    <mat-form-field class="pb-3 w-100">
      <input matInput cdkFocusRegionstart placeholder="{{action}} Titulo" formControlName="titulo">
      <mat-error *ngIf="errorHandling('titulo', 'required')">
        Debe proporcionar un<strong> título.</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="pb-3 w-100">
      <input matInput placeholder="{{action}} Resumen" formControlName="resumen">
      <mat-error *ngIf="errorHandling('resumen', 'required')">
        Debe proporcionar un<strong> resumen.</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="pb-3 w-100">
      <input matInput type="email" placeholder="{{action}} Imagen" formControlName="imagen">
      <mat-error *ngIf="errorHandling('imagen', 'required')">
        Debe proporcionar una <strong> imagen.</strong>
      </mat-error>
    </mat-form-field>

    <editor formControlName="contenidoHTML" [init]="{
           height: 500,
           menubar: true,
              plugins: [
                  'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                  'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                  'table emoticons template paste help'
              ],
                  toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                  'bullist numlist outdent indent | link image | print preview media fullpage | ' +
                  'forecolor backcolor emoticons | help',
              menu: {
                  favs: {title: 'Menu', items: 'code visualaid | searchreplace | spellchecker | emoticons'}
                  }
      }"></editor>

    <mat-form-field class="mr-5">
      <mat-label>¿Publicar?</mat-label>
      <select matNativeControl formControlName="publicada">
        <option value="y">Si</option>
        <option value="n">No</option>
      </select>
    </mat-form-field>

    <mat-form-field class="mr-5">
      <mat-label>Fecha de publicacion</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaPublicacion">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mr-5">
      <mat-label>Empresa</mat-label>
      <select matNativeControl formControlName="idEmpresa">
        <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
          {{empresa.denominacion}}
        </mat-option>
      </select>
    </mat-form-field>

    <div class="inline-block mr-auto">
      <button mat-raised-button class="mr-3" color="primary" (click)="onAction()">{{action}}</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
    </div>

  </form>
</div>
