.mat-dialog-title {
    color: #3f51b5!important;
    font-weight: bold;
}

div.progress {
    margin-top: 6px;
    margin-bottom: 12px;
    height: 3px;
}

.divImg img {
    height: 80px;
    width: auto;
}
