<div *ngIf="this.noticias != undefined">
    <app-slider [noticias]='noticias' (navNoticia)="navDetalleNoticia($event)"></app-slider>
</div>

<section class="well well2 wow fadeIn  bg1" data-wow-duration='3s'>
    <div class="container">
        <h2 class="txt-pr">
            Quienes Somos
        </h2>
        <div class="row">
            <div class="col">
                <p style="text-align:justify">
                    {{empresa.quienesSomos}}
                </p>
            </div>
        </div>
    </div>
</section>
