.carousel-item {
  height: 400px;
}

.mapa-bg {
  background-color: #ffffff;
}

.well h2 {
  font-size: 48px;
  text-transform: none;
  font-weight: bolder;
  line-height: 58px;
}

.well p {
  font-size: 16px;
}
