<section class="well well4">
  <div class="container">
    <h2> Resultados de: {{ texto }}</h2>
    <div class="row" *ngFor="let noticia of noticias">
      <div class="col-4">
        <a [routerLink]="['/detalle', noticia.id]">
          <img width="250px" src="{{noticia.imagen}}" alt="{{noticia.titulo}}">
        </a>
      </div>
      <div class="col-8">
        <a [routerLink]="['/detalle', noticia.id]" style="text-align:justify; font-size:20px">
          {{ noticia.titulo }}
        </a>
        <div>
          {{ noticia.resumen }}
          <a [routerLink]="['/detalle', noticia.id]" style="color:blue">
            Leer Mas - {{ noticia.fechaPublicacion.toMillis() | date:'dd-MM-yyyy'}}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
